.nav-up {
  display: flex;
  justify-content: space-between;
  background-color: black;
  background: linear-gradient(rgb(235, 79, 0), #f47a00);
  position: fixed; /* Fix the position at the top of the viewport */
  top: 0; /* Align it to the top */
  width: 100%; /* Take the full width of the viewport */
  z-index: 999; /* Ensure it's above other elements */
}
.title {
  margin-left: 45px;
  color: white;
  font-family: 'Bricolage Grotesque', sans-serif;
}
.cart {
  margin-top: 10px;
  margin-right: 10px;
  width: 150px;
  height: 50px;
 background-color: #f44d00;
  border: none;
  color: white;
  border-radius: 25px;
  display: inline-flex;
  padding-left: 28px;
  padding-top: 12px;
  cursor: pointer;
  transition: 0.7s;
}
.cart:hover{
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}
h3 {
  position: relative;
  bottom: 11px;
}
.num {
 
  color: white;
  width: 25px;
  height: 17px;
  margin-left: 4px;
  margin-top: 6px;
  border-radius: 7px;
  background-color: #f44d00;
  
  font-size: 15px;
}

.summary {
  position: relative;
  padding-top: 30px;
  width: 600px;
  height: 200px;
  margin-left: 330px;
  top: -50px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(238, 77, 8, 0.918);
  font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
  
  color: rgb(255, 255, 255);
  
}
h2 {
  margin-left: 45px;
}


body{
  background-color: rgba(247, 212, 212, 0.849);
  
 
}






@keyframes fade-out {
  from {
    
    opacity: 0;
  }
  to {
   
    
    opacity: 1;
  }
}